### Box Plots and their uses - an investigation

In [2]:
#Pandas is a Python package for data frames
import pandas as pd

In [3]:
import matplotlib.pyplot as plt

In [4]:
import seaborn as sns

In [6]:
df = pd.read_csv("https://raw.githubusercontent.com/paulacduffy/boxplotsproject/master/Data/salary.csv")
df

           Category      Salary Gender
0          ACADEMIC   51,502.00    Male
1          ACADEMIC   51,502.00    Male
2          ACADEMIC   51,502.00  Female
3          ACADEMIC   51,502.00  Female
4          ACADEMIC   48,840.00    Male
5          ACADEMIC   47,504.00    Male
6          ACADEMIC   50,178.00    Male
7          ACADEMIC   51,502.00    Male
8          ACADEMIC   50,178.00    Male
9          ACADEMIC   46,165.00  Female
10         ACADEMIC   51,502.00  Female
11   ADMINISTRATION   39,110.00  Female
12   ADMINISTRATION   37,662.00    Male
13   ADMINISTRATION   37,662.00  Female
14   ADMINISTRATION   42,042.00  Female
15   ADMINISTRATION   42,042.00  Female
16   ADMINISTRATION   31,603.00  Female
17   ADMINISTRATION   29,397.00  Female
18   ADMINISTRATION   26,033.00  Female
19   ADMINISTRATION   24,887.00  Female
20   ADMINISTRATION   24,887.00  Female
21   ADMINISTRATION   24,887.00  Female
22   ADMINISTRATION   23,353.00  Female
23   ADMINISTRATION   23,353.00  Female
24   ADMINISTRATION   23,353.00  Female
25   ADMINISTRATION   23,353.00  Female
26   ADMINISTRATION   23,353.00  Female
27   ADMINISTRATION   23,353.00  Female
28   ADMINISTRATION   44,771.00  Female
29   ADMINISTRATION   44,771.00  Female
..              ...         ...     ...
660        ACADEMIC   90,155.00  Female
661        ACADEMIC   92,851.00  Female
662        ACADEMIC   92,851.00    Male
663        ACADEMIC   90,155.00    Male
664        ACADEMIC   92,851.00    Male
665        ACADEMIC   92,851.00    Male
666        ACADEMIC   92,851.00    Male
667        ACADEMIC   90,155.00    Male
668  ADMINISTRATION   91,680.00  Female
669  ADMINISTRATION   91,680.00    Male
670  ADMINISTRATION   91,680.00    Male
671         LIBRARY   91,680.00  Female
672        ACADEMIC   99,480.00    Male
673        ACADEMIC   99,480.00  Female
674        ACADEMIC   99,480.00  Female
675        ACADEMIC   99,480.00    Male
676        ACADEMIC   99,480.00    Male
677        ACADEMIC   95,053.00    Male
678        ACADEMIC   99,480.00    Male
679        ACADEMIC   99,480.00    Male
680        ACADEMIC   99,480.00  Female
681        RESEARCH   99,480.00    Male
682        ACADEMIC  106,876.00  Female
683        ACADEMIC  106,876.00    Male
684        ACADEMIC  106,876.00    Male
685        ACADEMIC  106,876.00    Male
686        ACADEMIC  106,876.00    Male
687  ADMINISTRATION  117,309.00    Male
688  ADMINISTRATION  117,309.00    Male
689        RESEARCH  100,962.00    Male

[690 rows x 3 columns]

In [9]:
sns.boxplot(x="Category", y="Salary", kind="box", data=df)

ValueError: Neither the `x` nor `y` variable appears to be numeric.